<span class="header__cart-text">{{ 'templates.cart.cart' | t }}</span>
<span class="cart-count-bubble">
	{%- if cart.item_count < 100 -%}
		<span aria-hidden="true">
			{{- cart.item_count -}}
		</span>
	{%- endif -%}
	<span class="visually-hidden">
		{{- cart.item_count -}}
	</span>
</span>
